/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.section-title {
  color: var(--Dark-01, #131313);
  font-size: 2.8rem;
  font-weight: 700;
}

.text-lightgray {
  color: var(--Dark-03, #727272);
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  border: 0;
  cursor: pointer;
}
/* started header */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  column-gap: 40px;
  list-style: none;
}
nav ul li {
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
}

/* banner section style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 102px;
}
.banner-title {
  color: var(--Dark-01, #131313);
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  line-height: 1.25rem; /* 162.5% */
  padding-top: 32px;
  padding-bottom: 32px;
}
.banner img {
  margin-top: 32px;
  width: 100%;
}
/* header end */
/* main section style */
main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 5rem;
}
main section{
    margin-top: 5rem;
}
/* teams section start */
.teams-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4.375rem;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-title {
  font-size: 2.813rem;
  font-weight: 500;
}
.teams-title .quick-list {
  font-weight: 500;
}
.teams-title .of-our {
  color: var(--Dark-01, #131313);
  font-weight: 700;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}
.teams-description {
  line-height: 1.625rem; /* 162.5% */
  padding: 30px 0;
}

/* responsive media query styles */
/* responsive media query for mobile */

@media only screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container {
    flex-direction: column;
    gap: 30px;
  }
  .teams-content-container {
    /* text-align: center; */
    padding: 0 20px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .banner-content {
    margin-top: 30px;
  }
}

/* responsive media query for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column;
    gap: 30px;
  }
  /* i will question for this in the support section */
  .teams-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 1.3rem;
  }
  .banner-content {
    margin-top: 30px;
  }
}
