/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.section-title {
  color: var(--Dark-01, #131313);
  font-size: 2.8rem;
  font-weight: 700;
}

.text-lightgray {
  color: var(--Dark-03, #727272);
  line-height: 1.625rem;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  border: 0;
  cursor: pointer;
}
/* started header */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  column-gap: 40px;
  list-style: none;
}
nav ul li {
  font-size: 1rem;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: var(--Dark-02, #424242);
}

/* banner section style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 102px;
}
.banner-title {
  color: var(--Dark-01, #131313);
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  line-height: 1.25rem; /* 162.5% */
  padding-top: 32px;
  padding-bottom: 32px;
}
.banner img {
  margin-top: 32px;
  width: 100%;
}
/* header end */
/* main section style */
main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 5rem;
}
main section {
  margin-top: 5rem;
}
/* teams section start */
.teams-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4.375rem;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.teams-title {
  font-size: 2.813rem;
  font-weight: 500;
  line-height: 3rem;
}
.teams-title .quick-list {
  font-weight: 500;
}
.teams-title .of-our {
  color: var(--Dark-01, #131313);
  font-weight: 700;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700;
}
.teams-description {
  padding: 30px 0;
}

/* teams section end */

/* features section start */

.features {
  display: flex;
  margin-top: 8.125rem;
  column-gap: 6.25rem;
}

.feature-title {
  border-left: 5px solid #ff900e;
  padding-left: 24px;
  padding-top: 40px;
  margin-bottom: 1.5rem;
}

.features .card {
  padding: 30px;
  margin: 20px 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.features .card h4{
  margin-bottom: 10px;
}

.feature-img img{
  height: 75%;
  margin-left: 90px;
}

.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  width: 342px;
  padding: 40px;
  position: relative;
  bottom: 100px;
}

.ten-years-badge h2 {
  font-size: 4.063rem;
  font-weight: 700;
  line-height: 4.375rem; /* 107.692% */
}

.ten-years-badge p {
font-size: 1.563rem;
font-weight: 500;
line-height: 2.5rem;
}

/* features section end */

/* some facts section start */
.some-facts-content {
  max-width: 540px;
}

.some-facts-description {
  padding-top: 1.5rem;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6.25rem;
}

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}

.facts-card-container .card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.facts-card-container .card-stats {
  font-size: 2.813rem;
  color: var(--Dark-02, #424242);
  margin-top: 5px;
}

/* some facts section end */

/* sponsors section start style */
.sponsors {
  text-align: center;
  margin-bottom: 5rem;
}
.sponsors-title {
  margin-bottom: 1.5rem;
}

.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3.125rem;
  gap: 2.5rem;
}
/* responsive media query styles */
/* responsive media query for mobile */

@media only screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img-container,
  .features
  {
    flex-direction: column;
    gap: 30px;
  }
  .teams-content-container,
  .facts-card-container {
    /* text-align: center; */
    padding: 0 20px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .banner-content {
    margin-top: 30px;
  }

  .feature-img img{
    width: 100%;
    margin-left: 0;
  }
  .ten-years-badge{
    width: 100%;
  }

  .facts-card-container .card {
    padding: 40px 80px;
  }
}

.sponsors-img-container img {
  max-width: 165px;
}

/* responsive media query for tablet */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .sponsors-img-container,
  .features {
    flex-direction: column;
    gap: 30px;
  }
  /* i will question for this in the support section */
  .teams-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 1.3rem;
  }
  .banner-content {
    margin-top: 30px;
  }
}

.sponsors-img-container {
  flex-wrap: wrap;
}
