/* 
common shared styles
*/
* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.text-primary {
  color: #fd6e0a;
  font-weight: 800;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 15px 35px;
  border-radius: 5px;
  cursor: pointer;
}

.section-title {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* 
nav related styles
*/

.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
nav ul li {
  cursor: pointer;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* 
header related styles
*/

.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"), url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.banner {
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 600px;
}

.banner-greetings {
  color: var(--Dark-02, #474747);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-title {
  color: var(--Dark-01, #181818);
  font-size: 60px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.banner-description {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
}

.banner-btn {
  text-align: center;
  margin-right: 30px;
  display: flex;
  gap: 10px;

}
.banner-btn-contact{
  background: #FFF8F3;
  color: #FD6E0A;
text-align: center;
font-size: 20px;
font-weight: 700;
border-radius: 5px;
border: 1px solid #FD6E0A;
padding: 15px 30px;
}

/* .banner-btn1 {
  margin-top: 0;
  margin-right: 30px;
} */
/* .banner-btn2 {
  margin-top: 0;
  margin-left: 0;
  background: transparent;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
} */

/* .banner-icon {
  width: 24px;
  height: 24px;
} */

.banner .banner-image {
  width: 500px;
}

/* 
main section styles
*/
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* 
about section styles
*/

.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px;
  margin: 130px 0;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-info {
  text-align: center;
  padding-left: 50px;
}

.info-title {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.info-description {
  color: var(--Dark-02, #474747);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

/* 
what i do section related styles
*/
/* .what-i-do {
} */
#what-i-do-description {
  padding: 30px 120px;
}
/* 
skills related styles in what i do section
*/

.skills-container {
  display: flex;
  gap: 24px;
}

.skills {
  padding: 30px;
  gap: 24px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  align-items: center;
}
.skill-title {
  color: var(--Dark-01, #181818);
  font-size: 20px;
  font-weight: 700;
}
.skill-description {
  color: var(--Dark-03, #757575);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

/* 
resume related styles
*/
/* .summary-resume {
} */
.resume-container{
  display: flex ;
  gap: 60px;
}
.resume-container hr {
  margin: 30px auto;
  width: 100%;
  background-color: #D1D1D1;
}
/* resume column related styles */
.resume-title {
  color: var(--Dark-02, #474747);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume-item-title {
  color: var(--Dark-02, #474747);
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}
.resume-item-sub-title {
  color: var(--Dark-03, #757575);
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
}
.resume-item-description {
  color: var(--Dark-03, #757575);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-top: 0;
}

/* 
resume download button related styles
*/

.download-cv{
  text-align: center;
  margin-top: 50px;
}

/* footer section related styles */
footer{
  background: #FFF8F3;
  display: flex;
  gap: 100px;
  padding: 130px 230px;
  margin-top: 100px;
}
.footer-column{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.social-info{
  margin-bottom: 20px;
}

.footer-column-description{
  color: var(--Dark-02, #474747);
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
margin-top: 0;
margin-bottom: 30px;
}
.social-links{
  margin-top: 0;
}
.social-links a{
  margin-right: 25px;
}
/* footer form styling */
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 100%;
  border-radius: 5px;
background: var(--White-Color, #FFF);
border: 0;
padding: 18px 30px;
margin-bottom: 25px;
color: var(--Dark-03, #757575);
font-size: 16px;
font-weight: 400;
line-height: 28px; /* 175% */
}

.hide{
  display: none;
}

/* responsive design */
/* for mobile devices */
@media screen and (max-width: 576px) {
  /* header section related styles */
  .header {
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background-image: none;
  }
  .banner{
    text-align: center;
  }
  .banner-greetings{
    font-size: 30px;
  }
  .banner-title{
    font-size: 40px;
  }
  .banner .banner-image {
    width: 100%;
  }
  .btn-primary{
    margin: 10px 0;
  }

  .nav{
    margin: 0 auto;
  }
  .nav> ul li{
    padding: 10px auto;
  }
  /* about section related styles */
  .about-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-info {
  text-align: center;
  padding: 0;
}
  /* what i do section */
  .skills-container,
  .resume-container,
  footer,
  .about-info-container,
  .banner,
  .nav,
  .nav> ul{
    flex-direction: column;
  }

  .banner{
    padding: 0;
  }
  #what-i-do-description{
    padding: 20px;
  }

  /* resume section */
  .resume-container{
    width: 100%;
    text-align: center;
  }
  .resume-container hr {
    margin: 30px auto;
    text-align: center;
    width: 80%;
    background-color: #D1D1D1;
}

footer, .about{
  padding: 10px;
}
.footer-column{
  width: 100%;
  align-items: center;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 80%;
}
footer form{
  text-align: center;
}

}

@media screen and (min-width:576px) and (max-width: 992px) {
  /* header section related styles */
  .nav{
    justify-content: space-around;
    margin: auto;
  }
  .banner{
    padding: 0 0 0 100px;
  }
  .banner-greetings{
    font-size: 35px;
  }
  .banner-title{
    font-size: 45px;
  }
  .banner-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .banner-btn-download,
  .banner-btn-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 5px;
  }

  /* about section related styles */
  .about-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
  .about-info {
    text-align: center;
    padding: 0;
  }

  .skills-container, .resume-container {
    flex-direction: row;
  }
  #what-i-do-description{
    padding: 20px;
  }

  /* resume section */
  .resume-container{
    width: 100%;
  }
  .resume-container hr {
    margin: 30px auto;
    text-align: center;
    width: 80%;
    background-color: #D1D1D1;
}

/* footer section related styles */
footer, .about{
  padding: 30px;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  width: 80%;
}
}